@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    color: #000;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: initial;
}

li {
    list-style: none;
}

h2, h3 {
    font-weight: 600;
}

h2 {
    font-size: 20px;
}

p {
    font-weight: 500;
}

.flex {
    display: flex;
}

header, main {
    max-width: 1400px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

header .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a:hover {
    text-decoration: #0065FC;
    color: #0065FC;
}


header #logo {
    width: 110px;
    height: 100%;
    margin-left: 27px;
}

header .logo {
    width: 100%;
}

header nav .navbar {
    display: flex;
    align-items: center;
}

header .navbar .navbar-item {
    border: 2px solid transparent;
    font-size: 17px;
    padding: 30px;
    text-align: center;
    cursor: pointer;
}

header .navbar .navbar-item:hover {
    transition: 0.5s ease-in-out;
    border-top: 2px solid #0065FC;
}

header .navbar .navbar-item a {
    font-weight: 500;
}

header .navbar .navbar-item.active {
    border-top: 2px solid #0065FC;
}

header .navbar .navbar-item.active a {
    color: #0065FC;
}

section {
    margin: 30px auto;
    margin-bottom: 30px;
}

/* section search */
#search {
    margin-top: 0;
}

.search-title h2 {
    margin-bottom: 12px;
}

.search-container {
    margin: 15px 0 40px 0;
    position: relative;
}

.search-container form {
    display: flex;
}

.search-bar {
    position: relative;
    padding: 9px 4px;
    border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    -webkit-border-radius: 4px 0 0 4px;
    min-width: 35%;
}

.search-container .search-mark {
    position: absolute;
    width: 55px;
    height: 47px;
    background-color: #f2f2f2;
    border-radius: 15px 0 0 15px;
    -moz-border-radius: 15px 0 0 15px;
    -webkit-border-radius: 15px 0 0 15px;
    left: 0;
    top: 9px;
    bottom: 0;
}

.search-container .search-mark i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
}

.search-container input {
    padding: 12px 70px 12px 70px;
    border: 1px solid #f2f2f2;
    outline: none;
    font-weight: 600;
    font-size: 18px;
    width: 100%;
    height: 47px;
    border-radius: 15px;
    -webkit-border-raduis: 15px;
    -moz-border-raduis: 15px;

}

.search-container input::placeholder {
    font-weight: 700;
    color: #000;
}

.search-btn {
    position: absolute;
    width: 140px;
    height: 47px;
    font-size: 17px;
    background-color: #0065FC;
    border: none;
    right: 0;
    top: 9px;
    border-radius: 0 15px 15px 0;
    -moz-border-radius: 0 15px 15px 0;
    -webkit-border-radius: 0 15px 15px 0;
    font-weight: 600;
    cursor: pointer;
}

.search-btn span {
    color: #fff;
}

.search-btn i {
    display: none;
}

.search-filter {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.search-filter h2 {
    margin-right: 25px;
    font-size: 18px;
}

.navbar-filter {
    display: flex;
    flex-wrap: wrap;
}

.navbar-filter li {
    border: 2px solid #E4E4E4;
    align-items: center;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    display: flex;
    padding: 0 15px 0 0;
    margin-right: 25px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.navbar-filter li:hover {
    border: 2px solid #DEEBFF;
    background-color: #DEEBFF;
}

.navbar-filter li i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    color: #0065FC;
    font-size: 20px;
    margin: -2px;
}

.navbar-filter li p {
    padding: 0 10px;
    font-weight: 800;
}

.info {
    display: flex;
    align-items: center;
}

.info .info-content {
    min-width: 30px;
    height: 30px;
    border: 2px solid #f2f2f2;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.info .info-content i {
    font-size: 10px;
    color: #0065FC;
}

.info p {
    margin-left: 15px;
}

/* section acommodation */
.accommodations {
    display: flex;
    justify-content: space-between;
}

.accommodations .accommodation {
    background-color: #f2f2f2;
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    display: flex;
}

.accommodation:nth-child(1) {
    width: 67%;
}

.accommodation:nth-child(2) {
    width: 30%;
}

.bg-color {
    background-color: #f2f2f2;
}

.accommodations .accommodation .accomodation-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 30px;
}

.accommodation h2, .accommodation .accomodation-more {
    padding: 25px 20px 25px 40px;
    font-weight: bold;
    cursor: pointer;
}

.accommodation .accomodation-more {
    padding: 0 20px 0 40px;
    margin-top: 40px;
    font-size: 18px;
}

.card {
    display: flex;
    flex-direction: column;
    width: calc(100%/3 - 5%);
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 3px;
    transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
}

.accomodation-list .card:hover {
    transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

.card .card-img {
    border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    border: 1px solid transparent;
    overflow: hidden;
    height: 115px;
}

.card .card-img .accomodation-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accomodation-container {
    padding: 5px;
}


.blue-star {
    color: #0065FC;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.grey-star {
    color: #DBDBDB;
}

.euro {
    font-weight: 600;
}

.accomodation-container .accomodation-title {
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 2px;
}

.accomodation-container .accomodation-description {
    font-size: 13px;
    margin-bottom: 9px;
}

.accomodation-notation {
    font-size: 11px;
    margin-bottom: 6px;
}

/* most popular */
.most-popular-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
}

.most-popular-title {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.most-popular-title h2 {
    padding: 0;
}

.most-popular-title i {
    font-size: 22px;
    cursor: pointer;
}

.card.flex-row {
    width: 100%;
    height: 140px;
    border: 1px solid #fff;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.card.flex-row .card-img {
    width: 45%;
    height: 100%;
    border-radius: 20px 0 0 20px;
    -moz-border-radius: 20px 0 0 20px;
    -webkit-border-radius: 20px 0 0 20px;
}

.card.flex-row .card-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}


.accomodation-content {
    padding: 10px 0;
}

.most-popular {
    padding: 10px 30px 35px;
}

.card.flex-row .accomodation-container {
    padding: 15px 20px 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 65%;
}

.most-popular-description {
    width: 100%;
}

/* activities */
#activities {
    margin-bottom: 60px;
}

.activities-title {
    margin-bottom: 20px;
}

.activities-content {
    column-count: 4;
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-gap: 50px;
    -moz-column-gap: 50px;
    max-height: 500px;
}

.activities-content .item {
    margin: 0 0 1em;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.item.item-2 .card-img, .item.item-3 .card-img, .item.item-5 .card-img, .item.item-6 .card-img {
    height: 75%;
}

.activities-content .item.item-1, .activities-content .item.item-4 {
    height: 450px;
}

.activities-content .item.item-2 {
    height: 235px;
    margin-bottom: 50px;
}

.activities-content .item.item-3 {
    height: 165px;
}

.activities-content .item.item-5 {
    height: 195px;
    margin-bottom: 50px;
}

.activities-content .item.item-6 {
    height: 205px;
}

.card-activity {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.card-activity .card-img {
    border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    overflow: hidden;
    height: 88%;
}

.card-activity .card-img .activity-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
}

.card-activity h3 {
    padding: 20px 20px;
    font-size: 16px;
}

/* footer */
.footer-content {
    max-width: 1440px;
    padding: 50px 15px 50px 29px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap: wrap;
}

.footer-container:nth-child(1) {
    margin-right: 205px;
}

.footer-container:nth-child(2) {
    margin-right: 300px;
}

.footer-container h3 {
    margin-bottom: 20px;
}

.footer-container ul li {
    margin-bottom: 15px;
}

.footer-container ul li a {
    font-weight: 500;
}

/* responsive */
/* responsive mobile */
@media screen and (max-width: 768px) {
    main {
        padding: 0;
    }

    header {
        padding: 0;
    }

    header .header-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        padding: 0;
    }

    header #logo {
        padding-top: 25px;
    }

    nav {
        width: 100%;
    }

    header .navbar {
        width: 100%;
        padding: 0;
    }

    header .navbar .navbar-item {
        width: 50%;
        border-bottom: 2px solid #f2f2ff;
        padding: 25px;
    }

    header .navbar .navbar-item.active {
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    /* search */
    section {
        padding: 20px;
        margin: 0;
    }

    .search-filter {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .search-filter h2 {
        margin-bottom: 20px;
    }

    .search-bar {
        min-width: 100%;
    }

    .search-btn {
        position: absolute;
        width: 55px;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
    }

    .search-btn i {
        color: #fff;
    }

    .search-btn span {
        display: none;
    }

    .search-btn i {
        display: block;
    }

    .navbar-filter li {
        margin-bottom: 15px;
        margin-right: 12px;
    }

    /* accomodation */
    #accomodations {
        padding: 0;
    }

    .accommodation h2 {
        padding: 20px 0;
    }

    .accommodations {
        display: flex;
        flex-direction: column-reverse;
    }

    .accommodations .accommodation {
        min-width: 100%;
    }

    .accommodations .accommodation:nth-child(1) {
        background-color: #fff;
        padding: 20px;
    }

    .accommodations .accommodation:nth-child(2) {
        border-radius: 0%;
        -moz-border-radius: 0%;
        -webkit-border-radius: 0%;
    }

    .card {
        min-width: 100%;
    }

    .accommodation .accomodation-more {
        padding: 0;
    }

    /* most popular */
    .most-popular {
        padding: 10px 20px 35px;
    }

    .most-popular-list {
        min-width: 100%;
    }

    /* activities */
    #activities {
        margin-bottom: 0px;
    }

    .activities-title h2 {
        font-size: 22px;
    }

    .activities-list.flex {
        min-width: 100%;
    }

    .activities-content {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1 !important;
    }

    .activities-content .item {
        min-width: 100%;
    }

    .activities-content .item.item-2, .activities-content .item.item-5 {
        margin-bottom: 25px;
    }

    .item.item-1, .item.item-2, .item.item-3, .item.item-4, .item.item-5, .item.item-6 {
        max-height: 190px;
        min-height: 190px;
        margin-bottom: 25px;
    }

    .card-activity .card-img .activity-img {
        height: 140%;
    }

    /* footer */
    .footer-content {
        padding: 50px 20px 50px 20px;
        display: flex;

    }

    .footer-container {
        min-width: 100%;
    }

    .footer-container:nth-child(1), .footer-container:nth-child(2) {
        margin-bottom: 25px;
        margin-right: 35px;
    }
}

/* responsive tablette */
@media screen and (max-width:992px) {
    .accommodations {
        display: flex;
        flex-direction: column-reverse;
    }

    .accommodations .accommodation {
        width: 100%;
    }

    .accommodations .accommodation:nth-child(1) {
        background-color: #fff;
    }

    .accommodations .accommodation:nth-child(2) {
        border-radius: 0%;
        -moz-border-radius: 0%;
        -webkit-border-radius: 0%;
    }

    .card {
        width: 45%;
    }

    .most-popular-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .activities-list.flex .content-left {
        margin-bottom: 40px;
    }

    .card.flex-row {
        width: 47%;
    }

    .search-bar {
        min-width: 50%;
    }

    .search-filter {
        flex-direction: column;
    }

    .search-filter h2 {
        margin-bottom: 10px;
    }

    .search-container form {
        width: 100%;
    }

    .navbar-filter li {
        margin-bottom: 10px;
    }

    /* activité */
    .activities-container {
        width: 100%;
    }

    .activities-content {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        max-height: 100%;
    }

    .activities-content .item {
        min-height: 200px;
        max-height: 200px;
        margin-bottom: 30px !important;
    }



    /* footer */
    .footer-content {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .footer-container {
        width: 30%;
        margin: 0;
    }

    .footer-container:nth-child(1), .footer-container:nth-child(2) {
        margin-right: 0;
    }

}